<h1>Trail Details</h1>
<h2>@ViewBag.user.Name</h2>
<h3>Description</h3>
<p>@ViewBag.user.Description</p>

<h3>Trail Length</h3>
<p>@ViewBag.user.Trail_Length Miles</p>
<h3>Elevation Change</h3>
<p>@ViewBag.user.Elevation feet</p>

<p>Longitude -@ViewBag.user.Longitude</p>
<p>Latitude -@ViewBag.user.Latitude</p>


<a href="/">Go Home</a>